<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IMU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IMU</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="secondary">
          <h2>Acceleration</h2>
        </ion-text>
        <ion-row>
          <ion-col>x: {{xAcceleration}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>y: {{yAcceleration}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>z: {{zAcceleration}}</ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-text color="secondary">
          <h2>Gyroscope</h2>
        </ion-text>
        <ion-row>
          <ion-col>x: {{xGyro}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>y: {{yGyro}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>z: {{zGyro}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" *ngIf="!connected.value" name="button" (click)="connect()">Connect</ion-button>
        <ion-button expand="block" *ngIf="connected.value" name="button" (click)="disconnect()">Disconnect</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>